<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<H1><%= profileData.username %> </H1>
	<h1> Easy problem= <%= profileData.submitStats.acSubmissionNum[1].count%></h1>
	<h1> Medium problem= <%= profileData.submitStats.acSubmissionNum[2].count%></h1>
	<h1> Hard  problem= <%= profileData.submitStats.acSubmissionNum[3].count%></h1>

</body>
</html>