<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Leet code Profile analyser</h1>
	<button>harsh</button>
</body>
<!-- <script>
	const button = document.querySelector('button');
	button.addEventListener('click', () => {
		fetch('/harsh')
			.then(res => res.json())
			.then(data =>{ 
				console.log(data)
				window.location.href = '/harsh'
			})
	})
</script> -->
<script>
	const button = document.querySelector('button');
	button.addEventListener('click', () => {
		fetch('/crysosancher')
			.then(res => res.json())
			.then(data =>{ 
				console.log("Ho rha hai")
				console.log(data)
				//window.location.href = '/harsh'
			})
	})
</script>
</html>