<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Signika:wght@500&family=Sono:wght@500&family=Ubuntu+Condensed&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="./css/main.css" />
</head>

<body>
	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="main">
		<h1>LEETCODE PROFILE ANALYSER</h1>
		<div class="button">
			<button>SNU MODE</button>
			<button>NORMAL MODE</button>
		</div>
	</div>
	
</body>
<!-- <script>
	const button = document.querySelector('button');
	button.addEventListener('click', () => {
		fetch('/harsh')
			.then(res => res.json())
			.then(data =>{ 
				console.log(data)
				window.location.href = '/harsh'
			})
	})
</script> -->
<script>
	const button = document.querySelector("button");
	button.addEventListener("click", () => {
		fetch("/crysosancher");
		//.then(res => res.json())
		window.location.href = "/crysosancher";
	});
</script>

</html>