* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-image: radial-gradient( #090909, #213566);
  background-size: cover;
}

h1 {
  display: block;
  margin-top:  10%;
  color: #fff;
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  font-family: "Sono", sans-serif;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
  margin: 30px;
  background-color: #67a3f8;
  border: none;
  transition: transform 0.3s;
  border-radius: 0 15px 0 15px;
  font-size: 2.0rem;
  font-family: 'Signika', sans-serif;;
  box-shadow: 3px 3px 15px 1px rgb(250, 251, 251);
  cursor: pointer;
}

button:hover {
  background-color: rgb(47, 80, 120);
  transform: scale(1.1);
  box-shadow: 3px 3px 15px 3px rgb(250, 251, 251);
}

/* MEDIA QUERY */

@media only screen and (max-width: 799px) {
  
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
